body{
    margin: 0px;
    background-image: url(pictures/park2.jpg);
    overflow: hidden;
      background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#education{
    background-color: rgb(0,0,0,0.3);
    height: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    animation-name: topic;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
}
@keyframes topic{
    from{
        transform: scale(0);
    }
   }
.study{
    margin-top: 20px;
    margin-left: 100px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 5px;
    width: 70%;
    background-color: azure;
    border-bottom-right-radius:30px;
    border-top-right-radius: 30px;
    border-left: 5px solid #1170D3;
    box-shadow: 10px 10px 15px grey;
  
}
#collage h2{
    margin-left: 25px;
}

.study:hover{
    transition-duration: 0.5s;
    transform: scale(1.1);
}
#exit{
    margin-left: 80%;
    position: absolute;
    bottom: 55px;
    animation-name: exit;
    animation-duration: 15s;
    animation-direction: normal;
    animation-iteration-count: 1;
    
}
@keyframes exit{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(0);
    }
}
#exit a:hover{
    background-color: royalblue;
}
#exit a{
    background-color: #02AA63;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px grey;
}
#tenth{
    text-align-last: center;
    font-size: 25px;
    background-color:deepskyblue;
    color: white;
}
#twelth{
    text-align-last: center;
    font-size: 25px;
    background-color:deepskyblue;
    color: white;
}
#btech{
    text-align-last: center;
    font-size: 25px;
    background-color:deepskyblue;
    color: white;
}

#primary span{
    padding-left: 15px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 3px 1px gainsboro;
    
}
#high span{
    padding-left: 15px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 3px 1px gainsboro;
     animation-name: content;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    
}
#collage span{
    padding-left: 15px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 3px 1px gainsboro;
    
}
#primary{
    animation: box 4s;
}
#high{
    animation: box2 8s;
}
#collage{
       animation: box3 11s;

}
@keyframes box{
    0%{
        transform: translateX(-1200px);
    }
    30%{ transform: translateX(-1200px);}
}
@keyframes box2{
     0%{
        transform: translateX(2200px);
    }
    40%{ transform: translateX(2200px);}
}
@keyframes box3{
      0%{
        transform: translateX(-1200px);
    }
    60%{ transform: translateX(-1200px);}
}