body{
    margin: 0px;
    overflow: hidden;
}
#background{
    height: 650px;
    width:  9000px;
    background-image: url("pictures/SYY2mJz.png");
    background-size: auto 100%;
}
#resume{
    position: fixed;
    left: 35%;
    top: -60px;
    z-index: 5;
    animation-name: resume;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes resume{
    from{
        transform: scale(0);
        
    }
}
#resume img{ 
    height: 200px;
    width: 400px;
}
#board1{
    position: absolute;
    bottom: 100px;
    left: 99%;
    visibility: hidden;
}
#board1 #focus{
    position: absolute;
    bottom: 100px;
    left: 30%;
    font-size: 20px;
    font-family: fantasy;
    letter-spacing: 1px;
    color: white;
    animation-name: click;
     animation-duration: 0.5s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
}
@keyframes click{
    to{
        color: red;
        transform: scale(1.5);
    }
}
#direction{
    position: absolute;
    bottom: 9%;
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    left: 45%;
    animation-name: direction;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes direction{
    0%{
        color: transparent;
    }
}

#board1 a{
    position: absolute;
    text-decoration: none;
    font-size: 28px;
    color: white;
    top: 50px;
    left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 30px;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    background-color: cornflowerblue
}
#name{
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 4; 
    animation-name: player1;
    animation-duration: 4s;
    animation animation-iteration-count: 1;
    animation-direction: normal;
    visibility: visible;
}
@keyframes player1{
    0%{
        transform: translateX(-600px);
    }
    10%{transform: translateX(-600px);}
    20%{
        transform: translateX(-600px);
    }
    40%{
        transform: translateX(-600px);
    }
    
  
}
#hemant{
    position: absolute;
    top: 35%;
    left: 15%;
    height: 30%;
    width: 20%;
    z-index: 5; animation-name: player2;
    animation-duration: 5s;
    animation animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes player2{
     
     0%{
        transform: translateY(500px);
    }
    10%{transform: translateY(500px);}
    20%{
        transform: translateY(500px);;
    }
    60%{
        transform: translateY(500px);;
    }
    
}
#name #stand{
    position: absolute;
    top: 5px;
    
    transform: rotateY(180deg);
    height: 400px;
}

#player{
    position: fixed;
    bottom: 100px;
    left: 630px; 
    animation-name: player;
    animation-duration: 6s;
    animation animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes player{
    0%{
        transform: translateY(-1000px);
    }
    80%{
        transform: translateY(-1000px);
    }
}
#player img{
    height: 100px;
    width: 80px;
}
